@import url("../Default/nb.css");

body
{
    font-family:trebuchet ms,verdana,arial,helvetica,sans-serif;
    letter-spacing:0; 
}

p.alert 
{
	/* Used to display alerts (eg. "No entries") */
    color: 0044FF;
}

.entryCategories {
    margin-top: 10px;
    text-align:right;
}

.optionNamePanel 
{
    /* Used to display the panel containing the name of an option.*/
    background-color: #428CEF;
    color: white;
}

.year
{
    color:#428CEF;
}

.dayContainer
{
    background-color:#E0E0E0;
    text-decoration:none; 
    padding-bottom:6px;
    margin-top:15px;
    width:100%;
}

.day
{
    background-color:#428CEF; 
    padding: 6px;
    text-align:right;
}

.dayOfWeek 
{ 
    font-size:large; 
    color:white; 
    float:left;
}

.dayOfMonth 
{ 
    font-size:medium; 
    color:#ddddee;
    text-decoration:none; 
}

.entry
{
    margin-left:5%;
    margin-right:5%;
    margin-top:10px;
    margin-bottom:10px;

    border-style: dotted;
    border-width: 1;
    border-color:#b5b5b5;

    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;

    background-color:white;
    font-size:small;
} 
