@import "../Default/nb.css";

body {
    background: white;
    color: black;
    font-family: verdana, arial, sans-serif;
}
body, td {
    font-size: 0.8em;
}

a.permalink, .heading a, .notebookHead a {
    text-decoration: none;
}
a:link {
    color: #c63;
}
a:visited {
    color: #333;
}
a:active, a:hover {
    color: red;
}

a.permalink:link, a.permalink:visited {
    color: #888;
}
a.permalink:active, a.permalink:hover {
    color: red;
}

h1.heading {
    font-size: 1.2em;
    font-variant: small-caps;
}
hr {
    display: none;
}

/* make everything all indented */
.entry, h2.date {
    margin-left: 10%;
    margin-right: 10%;
}
.entry {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 0.5em;
}
.entry p {
    margin-left: 2em;
    margin-right: 2em;
}
.entry pre {
    margin: 2em;
}
.entry blockquote {
    margin-left: 4em;
    margin-right: 4em;
}

/* redo the indentation on the index screen */
.entrySubpanel .entry, .entrySubpanel h2.date {
    margin: 0px;
}
.entrySubpanel {
    padding: 1em;
}

h2.date, .entry h3 {
    font-size: 1em;
}
.entry {
    text-align: justify;
}

/* make the control panels look nice */
input, select, textarea {
    border: 1px #888 solid;
}
input, textarea {
    padding: 2px;
}
input, select {
    font-family: verdana, arial, sans-serif;
    border: 1px #888 solid;
}

/* make the index page look nice */
.calendarSubpanel, .entrySubpanel, .linkSubpanel, .optionNamePanel {
    background: #eee;
}
.notebookHead {
    color: black;
    font-size: 1em;
    font-variant: small-caps;
}
.calendar caption {
    font-variant: small-caps;
}
