@import url("../Default/gnome.css");

#blogHeader {
    background-image: url("theme-images/blogHeader-repeat.png");
}

#blogTitle {
    background-image: url("theme-images/blogHeader.png");
}

.blogEntryTitleDivider {
    background-image: url("theme-images/entry-divider.png");
    background-color: rgb(194,194,194);
}

#blogTitle a, #blogTitle a:visited, #blogTitle a:hover, #blogTitle a:active {
    color:            rgb(102,204,0);
}

.blogEntryContents {
    color:            rgb(52,52,52);
}

.blogEntryTitle a, .blogEntryTitle a:visited, .blogEntryTitle a:active {
    color:            rgb(2,70,95);
}

.blogEntryDate {
    color:            rgb(164,164,164);
}

#blogSidebarCategories {
    background-color: rgb(229,229,229);
    border-color:     rgb(164,164,164);    
}

#blogSidebarCategories a, #blogSidebarCategories a:visited, #blogSidebarCategories a:active {
    color:            rgb(63,128,0); 
}

.blogSidebarCategoryTitle {
    background-color: rgb(2,70,95);
    color:             white;
}

a, a:active, a:visited {
    color:            rgb(91,182,2);
}

a:hover { 
    color:            blue; 
}
