body { 	background-color: #005219;
	color: #EEEE00;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	font-family: Verdana,
	Tahoma,
	Helvetica,
	Arial,
	sans-serif; }

a:link {
    color: #EE9933;
    text-decoration: none;
}
a:visited,
a:active {
    color: #EE8800;
    text-decoration: none;
}
a:hover {
    color: #EEEEAA;
    text-decoration:  none;
}

select, input {
    color: #EEEE00;
    font-size: 90%;
    background-color: #218E43;
}

.entryBox {
	/* For the div that encapsulates each entry */
    background-color: transparent;
    border-width: 1px;
    border-color: #218E43;
    border-style: solid;
    width: 100%;
    padding: 0px;
}

.infobar {
	/* Table used to display time and date at the top of each entry box */
    background-color: #218E43;
    padding: 0px;
    width: 100%;
    min-width: 100%;
}

.entryInterior {
	/* For the div containing the title, author, text and category */
    backround-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

h1.heading {
	/* Used to display page headings (eg. "Search results", "[Notebook] for [date]") */
    font-family: "Courier New",
	Courier,
	serif;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
}

h3.status {
  /* Used to display status messages (eg. "Entry added.") */
}

p.alert {
	/* Used to display alerts (eg. "No entries") */
    font-size: 120%;
    font-weight: bold;
}

a.nav {
   /* Used when rendering date navigation bars */
}

.controlPanel td {
    white-space: nowrap;
}

/* Entry rendering. */

.entryAuthor {
	/* Used to display the name of the author of a particular
  	   NewsBruiser entry */
    font-size: 85%;
}

a.permalink {
	/* Used to display the link to a particular NewsBruiser entry */
}

.entryDate { 
	/* Used to display the date of a NewsBruiser entry */
    font-size: 85%;
}

.entryTitle {
	/* Used to display the text of a NewsBruiser entry */
    font-weight:  bold;
}

/* Index */

.notebookPanel {
	/* Used to display a notebook's panel. */
}

.notebookHead {
	/* Used to display the notebook's name and mantainer. */
}

.notebookSubhead {
	/* Used to display the notebook's description. */
	text-align: center;
	border-width: 1;
	border-color: #218E43;
	border-style: solid;
}

.calendarSubpanel {
	/* Used to display the panel containing the calendar */
}

.entrySubpanel {
	/* Used to display the panel containing the most recent entry */
}

.linkSubpanel {
	/* Used to display the panel containing links to the CGIs for a
           notebook. */
}

/* Categories */


.entryCategories {
	/* Used to display the "Filed under:" introductory text for an entry. */
	text-align: right;
}

.entryCategory {
    /* Used to display the linked name of a category under which an entry
       is filed. */
}

.categoryDescription {
    /* Used to display a category's description. */
}

/* Configuration */

.optionNamePanel {
    /* Used to display the panel containing the name of an option.*/
    background-color: transparent;
    font-weight: bold;
}

/* Calendar */

.calendarMonthName {
	/* Used to display the month and year. */
   font-size: normal;
   font-weight: bold;   
   text-align: center;
}

.calendarDayOfWeek {
	/* Used to display the name of days of the week. */
   font-size: 85%;
   font-weight: normal;  
}

.calendarDate {
	/* Used to display the a date (possibly linked to the list of
	entries for that date) */
   font-size: 85%;
   font-weight: normal;  
}

/* Today In History */

.yearsAgo {
	/* Used to display the "n years ago:" header */
    font-size: 85%;
    font-weight: bold;
}

.historicEntryText {
	/* Used to display the first portion of an historic entry */
    font-size: 85%;
    font-style: italic;
}