@import "../Default/nb.css";

body {	color: #FFFFFF;
	background-color: #000000;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	font-family:  Tahoma,
		Arial,
		Verdana;
	font-size: 90%;
	text-align: left; }

a:link {	color: #85B1DB;
	background-color: transparent; }
a:visited {	color: #769BBE;
	background-color: transparent; }
a:active {	color: #6EB5F7;
	background-color: transparent; }
a:hover {	color: inherit;
	background-color: transparent; }

select, input, textarea {    color: #FFFFFF;
	font-size: 90%;
	background-color: #2E5E8B; }

form { padding: 0px;
	margin: 0px; }

h1.heading {	/* Used to display page headings (eg. "Search results", "[Notebook] for [date]") */
	font-size: 120%; }

h3.status {  /* Used to display status messages (eg. "Entry added.") */ }

p.alert {	/* Used to display alerts (eg. "No entries") */
    font-size: 120%; }

a.nav {   /* Used when rendering date navigation bars */ }

.controlPanel td {    white-space: nowrap; }

/* Entry rendering. */

.entryAuthor {	/* Used to display the name of the author of a particular 
 	   	NewsBruiser entry */ }

a.permalink {	/* Used to display the link to a particular NewsBruiser entry */ }

.entryDate { 	/* Used to display the date of a NewsBruiser entry */ }

.entryTitle {	/* Used to display the text of a NewsBruiser entry */ 
	font-weight:  bold; }

.entryList {	/* For separating lists of entries from navigation bars */
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 30%;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 90%;
	text-align: center;
	border-width: 0px; }

.entryBox {	/* For the div that encapsulates each entry */
	background-color: #173047;
	border-width: 0px;
	padding: 10px;
	width: 85%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left; }

.infobar {	/* Table used to display title and date at the top of each entry box */
	background-color: #000000;
	color: inherit;
	padding: 2px;
	width: 100%;
	min-width: 100%; }

.entryInterior {	/* For the div containing the author, text and category */ }

/* Index */

.notebookPanel { /* Used to display a notebook's panel. */ }

.notebookHead {	/* Used to display the notebook's name and mantainer. */
	font-size: 120%; }

.notebookSubhead { /* Used to display the notebook's description. */
	text-align: center;
	border-width: 0px; }

.calendarSubpanel { /* Used to display the panel containing the calendar */
	text-align: center;
	padding: 3px;
	color: inherit;
	background-color: #173047;
	margin: 0px; }

.entrySubpanel { /* Used to display the panel containing the most recent entry */ }

.linkSubpanel {	/* Used to display the panel containing links to the CGIs for a notebook. */
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-width: 0px;
	color: inherit;
	background-color: #173047;
	margin: 0px; }

/* Categories */

.entryCategories { /* Used to display the "Filed under:" introductory text for an entry. */
	text-align: right;
	padding-top: 1ex;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px; }

.entryCategory { /* Used to display the linked name of a category under which an entry
       is filed. */ }

.categoryDescription {    /* Used to display a category's description. */ } 

/* Configuration */

.optionNamePanel {    /* Used to display the panel containing the name of an option.*/
    background-color: transparent;
    font-weight: bold; }

/* Calendar */

.calendarMonthName {	/* Used to display the month and year. */
   font-weight: bold;
   text-align: center; }

.calendarDayOfWeek {	/* Used to display the name of days of the week. */
   font-weight: normal; }

.calendarDate {	/* Used to display the a date (possibly linked to the list of
	entries for that date) */
   font-weight: normal;  }

/* Today In History */

.yearsAgo {	/* Used to display the "n years ago:" header */
    font-size: inherit;
    font-weight: bold; }

.historicEntryText {	/* Used to display the first portion of an historic entry */    
    font-size: inherit;
    font-style: italic; }

/* Trackback */

.trackback {
    background-color:444499;
}
