@import url("../Default/gnome.css");

#blogHeader {
    background-image: url("theme-images/blogHeader-repeat.png");
}

#blogTitle {
    background-image: url("theme-images/blogHeader.png");
}

.blogEntryTitleDivider {
    background-image: url("theme-images/entry-divider.png");
    background-color: rgb(194,194,194);
}

#blogTitle a, #blogTitle a:visited, #blogTitle a:hover, #blogTitle a:active {
    color:            white;
}

.blogEntryContents {
    color:            rgb(37,37,37);
}

.blogEntryTitle a, .blogEntryTitle a:visited, .blogEntryTitle a:active {
    color:            black;
}

.blogEntryDate {
    color:            rgb(164,164,164);
}

#blogSidebarCategories {
    background-color: rgb(229,229,229);
    border-color:     rgb(164,164,164);    
}

#blogSidebarCategories a, #blogSidebarCategories a:visited, #blogSidebarCategories a:active {
    color:            black; 
}

.blogSidebarCategoryTitle {
    background-color: black;
    color:            white;
}

a, a:active, a:visited {
    text-decoration: underline;
    color:           black;
}

a:hover { 
    color: red; 
}
