@import "../Default/nb.css";

body { 
    color: #333;
}

a:link {
    color: #55c;
}
a:visited {
    color: #22a;
}
a:active {
    color: red;
    background: #eee;
}
a:hover {
    background: #eee;
}

a.permalink {
    font-weight: bold;
}
a.permalink:link, a.permalink:visited {
    color: #99f;
}

.entrySubpanel {
    padding: 10px;
}

.entry {
    font-family: georgia, times, serif;
    margin-bottom:5px;
}
h2.date, .entry h3 {
    font-family: verdana, helvetica, sans-serif;
    font-variant: small-caps;
}
h2.date {
    font-size: 1.1em;
    color: #999;
    border-bottom: 1px solid #aaa;
}
.entry h3 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.0em;
    color: #bbb;
}
.entry p {
    margin-left: 10px;
    margin-right: 10px;
}
.entry pre {
    margin: 10px;
}
.entry blockquote {
    margin-left: 20px;
    margin-right: 20px;
}
