body { 
    background-color: #FFFFFF;
    text: #000000;
    vlink: #999999;
    alink: #FFFFFF;
    link: #996600;
    font-size: 11pt;
    font-family: Times,
    "Times New Roman",
    serif;    
}

h1.heading {
	/* Used to display page headings (eg. "Search results", "[Notebook] for [date]") */
  font-weight: normal;
  font-size: 120%;
  text-decoration: none;
  text-transform: uppercase;
}

h3.status {
  /* Used to display status messages (eg. "Entry added.") */
}

p.alert {
	/* Used to display alerts (eg. "No entries") */
    color: red;
    letter-spacing: 1ex;
    text-transform: uppercase;
}

a.nav {
   /* Used when rendering date navigation bars */
   text-decoration: none;
}

.controlPanel td {
    white-space: nowrap;
}

/* Entry rendering. */

.entryAuthor {
	/* Used to display the name of the author of a particular
  	   NewsBruiser entry */
   text-transform: uppercase;
   text-align: center;
   padding-top: 10px;
}

a.permalink {
	/* Used to display the link to a particular NewsBruiser entry */
}

p.permalink {
   padding-bottom: 30px;
}

.artificialMargins {
	width: 345px;
	max-width: 345px;
}
    
.entryDate { 
	/* Used to display the date of a NewsBruiser entry */
    text-align: center;
}

.entryTitle {
	/* Used to display the text of a NewsBruiser entry */
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 1ex;
    text-align: center;
}

.entryText {
	/* Used to display the text of a NewsBruiser entry */
}

.entry { 
    /* Overarching properties for a NewsBruiser entry. */
    text-align: center;
}

/* Entry alternation wackiness */

.entry2 { 
    /*Set your entry template to wrap entries in '<p class="entry%2">';
      and the first, third, fifth, etc. entries in a list will be of class
      entry while the second, fourth, sixth, etc. entries will be of
      class entry2. See the template document for more details.*/
    background-color: FFFFEE;
}

/* Index */

.notebookPanel {
	/* Used to display a notebook's panel. */
}

.notebookHead {
	/* Used to display the notebook's name and mantainer. */
	color:005500;
}

.notebookSubhead {
	/* Used to display the notebook's description. */
	text-align:center;
	border-width:1;
	border-style:dotted;
}

.calendarSubpanel {
	/* Used to display the panel containing the calendar */
	background-color:F0F0F0;
}

.entrySubpanel {
	/* Used to display the panel containing the most recent entry */
	background-color:F0F0F0;
}

.linkSubpanel {
	/* Used to display the panel containing links to the CGIs for a
           notebook. */
	background-color:EEEEEE;
}

/* Categories */


.entryCategories {
	/* Used to display the "Filed under:" introductory text for an entry. */
   text-align: center;
}

.entryCategory {
    /* Used to display the linked name of a category under which an entry
       is filed. */
}

.categoryDescription {
    /* Used to display a category's description. */
    background-color:DDFFDD
}

/* Configuration */

.optionNamePanel {
    /* Used to display the panel containing the name of an option.*/
    background-color: cccc99;
    font-weight: bold;
}

/* Calendar */

.calendarMonthName {
	/* Used to display the month and year. */
   font-size: normal;
   font-weight: bold;   
   text-align: center;
}

.calendarDayOfWeek {
	/* Used to display the name of days of the week. */
   font-size: small;
   font-weight: normal;  
}

.calendarDate {
	/* Used to display the a date (possibly linked to the list of
	entries for that date) */
   font-size: small;
   font-weight: normal;  
}

/* Today In History */

.yearsAgo {
	/* Used to display the "n years ago:" header */
	letter-spacing: 1ex;
	text-transform: uppercase;
}

.historicEntryText {
	/* Used to display the first portion of an historic entry */
    font-style: italic;
}

    

