@import url("../Default/gnome.css");

#blogHeader {
    background-image: url("theme-images/blogHeader-repeat.png");
}

#blogTitle {
    background-image: url("theme-images/blogHeader.png");
}

.blogEntryTitleDivider {
    background-image: url("theme-images/entry-divider.png");
    background-color: rgb(255,204,102);
}

#blogTitle a, #blogTitle a:visited, #blogTitle a:hover, #blogTitle a:active {
    color:            rgb(240,135,62);
}

.blogEntryContents {
    color:            rgb(37,37,37);
}

.blogEntryTitle a, .blogEntryTitle a:visited, .blogEntryTitle a:active {
     color:           rgb(153,51,0);
}

.blogEntryDate {
    color:            rgb(164,164,164);
}

#blogSidebarCategories {
    background-color: rgb(255,244,223);
    border-color:     rgb(153,51,0);
}

#blogSidebarCategories a:link, #blogSidebarCategories a:visited, #blogSidebarCategories a:active {
    color:            rgb(208,85,0);
}

.blogSidebarCategoryTitle {
    background-color: rgb(153,51,0);
    color:            white;
}

a, a:active, a:visited {
    color:            rgb(240,98,0); 
}

a:hover {
    color:            red;
}

