@import url("../Default/nb.css");

body {
    font-family:       sans-serif;
    color:             black;
    background-color:  white;
    margin:            0px;
}

#blogHeader {
    width:             100%;
    position:          relative;
    height:            68px;
    background-repeat: repeat-x;
}

#blogGnomeLogo {
    position:          absolute;
    background:        url("gnome-images/gnome-64.png") no-repeat;
    width:             64px;
    height:            64px;
    left:              7px;
    top:               7px;
}

#blogTitle {
    background-repeat: no-repeat;
    height:            59px;
    padding-left:      78px;
    padding-top:       12px;
}

#blogTitle a {
    font-size:         30px;
    text-decoration:   none;
    font-weight:       normal;     
}

#blogBody {
    position:          relative;
    margin:            6px 6px;
}

#blogEntries {
    margin-right:      270px;
}

.blogEntry {
    margin:            0px 0.5em 50px 0.5em;
}

.blogEntryTitleDivider {
    background-repeat:  no-repeat;
    background-position: center right;
    height:             3px;
    font-size:          3px; /* fix height problem in IE */
    margin-bottom:      4px;
}

.blogEntryContents {
    text-align:         justify;
}


.blogEntryTitle a, .blogEntryTitle a:visited, .blogEntryTitle a:active {
    font-size:          24px;
    margin-left:        24px;
    text-decoration:    none;
    font-weight:        normal;     
}

.blogEntryDate {
    font-size:          12px;
    margin-left:        24px;
    margin-bottom:      6px;
}

.blogEntryExtras {
    margin-top:         0.5em;
}

#blogSidebar {
    position:           absolute;
    right:              22px;
    top:                8px;
    width:              230px;
    font-size:          smaller;
}

#blogSidebar a, #blogSidebar a:visited, #blogSidebar a:active {
    text-decoration:    none;
}

#blogSidebarCategories {
    border-width:       1px;
    border-style:       solid;
}

.blogSidebarCategory {
    margin-bottom:      8px;
}

.blogSidebarCategoryTitle {
    margin:             6px;
    padding:            6px 8px;
}

.blogLinks {
    list-style:         none;
    margin:             0px;
    padding-left:       0px;
}

.blogLinks li {
    margin:             0px;
    margin-left:        22px;
}

.blogrollLink, .blogrollLink:visited, .blogrollLink:active {
    font-weight:        bold;
    text-decoration:    none;
}

#blogSearchbox {
}

.searchBox input[type=text] {
    width:              150px;
    
}

/*
.searchBox input[type=submit] {
    display:            none;
}
*/
